[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "annotater"]
	path = annotater
	url = https://github.com/luisdva/annotater
[submodule "unheadr"]
	path = unheadr
	url = https://github.com/luisdva/unheadr
